In [176]:
import pandas as pd

In [193]:
trip_data = pd.read_parquet("data/merged_dataset.parquet")

In [195]:
trip_data.PULocationID.unique().shape

(67,)

In [197]:
trip_data.shape

(1563424, 3)

In [199]:
trip_data

           tpep_pickup_hour  PULocationID  Total_Trips
0       2022-01-01 00:00:00             4           11
1       2022-01-01 00:00:00            12            2
2       2022-01-01 00:00:00            13           12
3       2022-01-01 00:00:00            24           11
4       2022-01-01 00:00:00            41           12
...                     ...           ...          ...
1563419 2025-01-31 23:00:00           249          568
1563420 2025-01-31 23:00:00           261           35
1563421 2025-01-31 23:00:00           262           29
1563422 2025-01-31 23:00:00           263          133
1563423 2025-02-01 00:00:00           113            1

[1563424 rows x 3 columns]

In [201]:
full_timeframe = pd.DataFrame(trip_data.tpep_pickup_hour.unique())
taxi_zones = pd.read_csv("data/taxi_zones/taxi_zone_lookup.csv")
manhattan_taxi_zones = taxi_zones[taxi_zones["Borough"]=="Manhattan"]
zones = manhattan_taxi_zones[["LocationID"]]

full_timeframe['key'] = 0
zones['key'] = 0

#outer merge on common key (e.g. a cross join)
full_timeframe_table = full_timeframe.merge(zones, on='key').drop('key', axis=1)
full_timeframe_table = full_timeframe_table.rename(columns={0:"tpep_pickup_hour"})

C:\Users\Acer\AppData\Local\Temp\ipykernel_9596\807919656.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zones['key'] = 0

In [203]:
trip_data = trip_data.rename(columns={"PULocationID":"LocationID"})

In [205]:
final_table = full_timeframe_table.merge(trip_data, on = ["tpep_pickup_hour","LocationID"], how="left")

In [207]:
final_table =final_table.loc[final_table["tpep_pickup_hour"]<="2025-01-31 23:00:00"]

In [209]:
weather_data = pd.read_csv("data/weather_data/weather_test.csv")

In [211]:
weather_data["date"] = pd.to_datetime(weather_data["date"])

In [213]:
final_table = final_table.merge(weather_data, left_on="tpep_pickup_hour", right_on ="date", how="left")

In [215]:
final_table = final_table.drop(columns=["date","Unnamed: 0"])

In [217]:
final_table.head()

,tpep_pickup_hour,LocationID,Total_Trips,temperature_2m,precipitation,rain,snowfall,snow_depth,wind_speed_10m
0,2022-01-01,4,11.0,8.3005,0.0,0.0,0.0,0.0,3.545589
1,2022-01-01,12,2.0,8.3005,0.0,0.0,0.0,0.0,3.545589
2,2022-01-01,13,12.0,8.3005,0.0,0.0,0.0,0.0,3.545589
3,2022-01-01,24,11.0,8.3005,0.0,0.0,0.0,0.0,3.545589
4,2022-01-01,41,12.0,8.3005,0.0,0.0,0.0,0.0,3.545589

In [219]:
final_table.shape

(1866485, 9)

In [224]:
null_cols = final_table.isnull().sum()/len(final_table)*100
null_cols[null_cols !=0]

Total_Trips    16.237044
snow_depth      1.864521
dtype: float64

In [241]:
final_table[["Total_Trips"]].fillna(0, inplace=True)

C:\Users\Acer\AppData\Local\Temp\ipykernel_9596\2794426650.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_table[["Total_Trips"]].fillna(0, inplace=True)
C:\Users\Acer\AppData\Local\Temp\ipykernel_9596\2794426650.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_table[["snow_depth"]].fillna(0, inplace=True)

In [257]:
final_table["snow_depth"] = final_table["snow_depth"].fillna(0)

In [263]:
null_cols = final_table.isnull().sum()/len(final_table)*100
null_cols[null_cols !=0]

Series([], dtype: float64)

In [265]:
final_table.to_parquet("data/train_data/trips_weather_merged.parquet")

In [267]:
pd.read_parquet("data/merged_dataset.parquet").shape

(1563424, 3)